---
parser: babel-eslint
extends: airbnb/base
rules:
  import/no-extraneous-dependencies: off
  consistent-return: off
  no-confusing-arrow: off
  no-console: off
  no-plusplus: off
env:
  browser: true
globals:
  dataLayer: true
  Study: true
