{
  "parser": "babel-eslint",
  "rules": {
    "no-confusing-arrow": "off"
  },
  "extends": [
    "airbnb/base"
  ],
  "ignores": [
    "./lib/*.js"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "dataLayer": true
  }
}
